In [1]:
# https://convokit.cornell.edu/documentation/gap.html
from convokit import Corpus, download
gap_corpus = Corpus(filename=download("gap-corpus"))
print(gap_corpus)

Dataset already exists at /Users/soohwanlee/.convokit/downloads/gap-corpus
<convokit.model.corpus.Corpus object at 0x32c33b790>

In [2]:
gap_corpus.print_summary_stats()

Number of Speakers: 84
Number of Utterances: 8009
Number of Conversations: 28

In [4]:
print(gap_corpus.get_conversation)

<bound method Corpus.get_conversation of <convokit.model.corpus.Corpus object at 0x32c33b790>>

In [8]:
# Let's see this in a random utterance from the r/Cornell Corpus
utt = gap_corpus.random_utterance()
print(utt)

Utterance(id: '13.Yellow.118', conversation_id: 13.Yellow.1, reply-to: 13.Blue.49, speaker: Speaker(id: '13.Yellow', vectors: [], meta: ConvoKitMeta({'Year at UFV': 2, 'Gender': 1, 'English': 1, 'AIS': 77.0, 'AII': 24.0, 'Ind_TE': 4, 'Ind_WW': 4.0, 'Ind_TM': 3.0, 'Ind_Eff': 4.0, 'Ind_QW': 3.0, 'Ind_Sat': 3.6, 'Ind_Lead': 4, 'Group Number': '13'})), timestamp: 04:28.9, text: '"Lets go f "', vectors: [], meta: ConvoKitMeta({'End': '04:30.1', 'Duration': '00:01.1', 'Sentiment': nan, 'Decision': nan, 'Private': nan, 'Survival Item': nan}))

In [10]:
# primary data fields
print("ID:", utt.id, "\n")

ID: 13.Yellow.118

In [11]:
print("Reply_to:", utt.reply_to, "\n")

Reply_to: 13.Blue.49

In [12]:
print("Timestamp:", utt.timestamp, "\n")

Timestamp: 04:28.9

In [13]:
print("Text:", utt.text, "\n")

Text: "Lets go f "

In [17]:
for utt in gap_corpus.iter_utterances():
    print(utt.text)
    break

"So what did everyone do as one"

In [18]:
gap_corpus.get_speakers_dataframe().head()

,vectors,meta.Year at UFV,meta.Gender,meta.English,meta.AIS,meta.AII,meta.Ind_TE,meta.Ind_WW,meta.Ind_TM,meta.Ind_Eff,meta.Ind_QW,meta.Ind_Sat,meta.Ind_Lead,meta.Group Number
id,,,,,,,,,,,,,,
1.Pink,[],4,2,1,88.0,40.0,5,5.0,5.0,5.0,5.0,5.0,5,1
1.Blue,[],1,2,1,64.0,76.0,5,5.0,5.0,5.0,5.0,5.0,2,1
1.Green,[],6,1,2,85.0,12.0,4,5.0,5.0,4.0,5.0,4.6,4,1
10.Orange,[],4,2,1,55.0,56.0,5,4.0,5.0,5.0,4.0,4.6,4,10
10.Pink,[],1,1,1,57.0,33.0,5,4.0,4.0,5.0,4.0,4.4,3,10